<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Movie IMDBC</title>
</head>
<body>
 <a href='/users/'>List</a>&nbsp;&nbsp;
 <a href='/users/searchName'>Search on name</a>&nbsp;&nbsp;
 <a href='/users/searchActorName'>Search on actor</a>&nbsp;&nbsp;
  <h2>Search Movie</h2>
  <br/><br/>
  
  <form action='/users/searchActorName' method='POST'>
    <span><b>Name actor: </b><input type='text' name='name'></span>
    <span><button type='submit'>Search</button></span>
  </form>
</body>
</html>
