<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Movies IMDC</title>
</head>
<body>
  <a href='/users/'>List</a>&nbsp;&nbsp;
  <a href='/users/searchName'>Search on name</a>&nbsp;&nbsp;
  <a href='/users/searchActorName'>Search on actor</a>&nbsp;&nbsp;
  <h2>Result actors by movie</h2>
  <br/><br/>
  <p>
    <span><b>Actors : </b><%= products %></span><br />
  </p>
</body>
</html>
