<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
</head>
<body>
  <h2>Result</h2>
  <br/><br/>
  <p>
    <span><b>Actors : </b><%= products %></span><br />
  </p>
</body>
</html>
